body {
  background-color: white;
  overflow: hidden;
}

#header{
  font-family: 'Segoe Script', 'Comic Sans MS', cursive;
  text-align:center;
  font-size: 30;
	width: 100%;
}

#navbar{
    display: flex;
    align-items: center;    /* aligns vertically */
    justify-content: center;  /* aligns horizontally */
    background-color: white;
    margin-bottom: 20px;
  }
  
  #pageselection{ 
    background-color: lavender;
    text-align: center;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
  }
  
  .nav-button{
    float:left;
    margin-right: 10px;
  }

 #content{
    padding-left: 35;
    padding-top: 10;
    background-color: lavender;
    font-size: larger;
    height: 100%;
    overflow:auto;
  }
  
  #imprint{
    padding-top: 170;
    padding-left: 35;
    background-color: lavender;
    height: 100%;
    font-size: larger;
    overflow: scroll;
  }

  #fewo1{
    padding-top: 170;
    padding-left: 35;
    background-color: lavender;
    font-size: larger;
    height: 100%;
    overflow: scroll;
  }



.bottombar {
    overflow: hidden;
    position: fixed;
    display: block;
    bottom: 0;
    width: 100%;
    background-color: white;
    z-index: 99;
  }


 * {
    box-sizing: border-box;
  }
  
  img {
    width: 100%; 
    max-height: 100%; 
  }
  
  /* Position the image container (needed to position the left and right arrows) */
  .container {
    position: relative;
    width: 800px;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    top: 60;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: lavender;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Container for image text */
  .caption-container {
    text-align: center;
    background-color: lavender;
    padding: 2px 16px;
    color: black;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* 10 columns side by side */
  .column {
    float: left;
    width: 10%;
  }

  .column1 {
    float: left;
    width: 11.11%;
  }

  .column2 {
    float: left;
    width: 12.5%;
  }

  .column3 {
    float: left;
    width: 6.66%;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.65;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }

  

  @media (max-width: 900px) {

    .container {
       width: 600px;
    }

  }

  @media (max-width: 670px) {

    .nav-button {
      float:none;
    }

    .container {
       width: 350px;
    }

  }